$mainColor: #ebdf00;
$secondColor:#e80800;
$darkBlue: #181831;

$lightColor:rgb(255, 255, 255);
$lightColor_300:rgba(255, 255, 255, 0.787);
$lightColor_200:rgba(255, 255, 255, 0.315);
$darkColor:rgba(0, 0, 0, 0.726);

$footerDarkColor:rgba(0, 0, 0, 0.527);

$footerLightColor:rgba(255, 255, 255, 0.527);
$greyBorder: #cccccc;