@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;900&display=swap');

@font-face {
    font-family: 'Bogam Regular';
    src: local("Bogam Regular"), url('../../../fonts/Bogam.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bogam Regular';
    src: local("Bogam Regular"), url('../../../fonts/Bogam.ttf');
    font-weight: normal;
    font-style: normal;
}

//nuovi
@font-face {
    font-family: 'PolySans Neutral';
    src: local("PolySans Neutral"), url('../../../fonts/PolySans Neutral.otf');
}

@font-face {
    font-family: 'PolySans Slim';
    src: local("PolySans Slim"), url('../../../fonts/PolySans Slim.otf');
}
